@model IEnumerable<QueueSimulator.Models.Patient>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Piority)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style='background-color: @(item.Piority.Equals("1") ? "red" : item.Piority.Equals("2") ? "yellow" : "green");'>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piority)
            </td>
            <td>
                <button id="info" value="@item.Id" type="button" style="float: right;" class="btn-sm btn-outline-info @*glyphicon glyphicon-option-horizontal*@"></button>
            </td>
        </tr>
}
    </tbody>
</table>
