@model IEnumerable<QueueSimulator.Models.Patient>


<h4><label for="countPatient">Iteracja: @ViewBag.Iteration</label></h4><br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr style='background-color: @(item.Priority.Equals(1) ? "#ff4040" : item.Priority.Equals(2) ? "#ff6f50" : item.Priority.Equals(3) ? "#ffc125" : "#7FCF67");'>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <button id="info" style="float: right;" name="info" 
                        class="info btn btn-success btn-sm glyphicon glyphicon-option-horizontal"
                        onclick="showPopup(@item.Id)"> </button>
            </td>
        </tr>
}
    </tbody>
</table>
